<nb-card>
  <nb-card-body>
    <nb-stepper orientation="horizontal" disableStepNavigation = 'true'>
      <nb-step [label]="labelOne" disableStepNavigation = "true">
        <ng-template #labelOne>general info</ng-template>
        <form-creator
        title="GeneralInformation"
        apiName="trips"
        fieldIndex="trips"
        [dealInternally] = "false"
        (submitGeneralInfo) = "submitGeneralInfo($event)"
        (statusChange)="statusChange($event)"
      ></form-creator>
      <div class="text-center card-footer mt-2">
        <button nbButton disabled nbStepperNext class="m-2">prev</button>
        <button (click) ="next()" nbButton nbStepperNext [disabled] = 'generalInfoStatus'>next</button>
      </div>
      </nb-step>
      <nb-step [label]="labelTwo" disableStepNavigation = "true">
        <ng-template #labelTwo>Images</ng-template>
        <trips-image (submitImages) = "imagesChanged($event)"></trips-image>
        <div class="text-center card-footer mt-2">
          <button nbButton nbStepperPrevious class="m-2">prev</button>
          <button nbButton nbStepperNext >next</button>
        </div>
      </nb-step>
      <nb-step [label]="Thirdstep" disableStepNavigation = "true">
        <ng-template #Thirdstep>hotels</ng-template>
        <hotel (imagesChanged) ="hotelImagesChanged($event)" (hotelInfoChanged) = hotelInfoChanged($event)></hotel>
      <div class="text-center card-footer mt-2">
        <button nbButton nbStepperPrevious class="m-2">prev</button>
        <button nbButton nbStepperNext>next</button>
      </div>
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>done</ng-template>
        <div class="text-center">
          <nb-alert accent="primary">
              thank you so mutch we are almost done , click submit to continue
            </nb-alert>
        </div>
        <div class="text-center card-footer mt-2">
        <button nbButton nbStepperPrevious class="m-2">prev</button>
        <button nbButton nbStepperNext (click)="submit()">{{"button.submit" | translate}}</button>
      </div>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
